numpy
pandas
seaborn
matplotlib
networkx~=2.6.3
scikit-learn
cached_property
gensim
pyprind~=2.11.3
cytoolz
scipy
torch~=1.6
transformers~=4.12.5
datasets~=1.16.1
PyYAML~=5.4.1
https://github.com/phueb/Ludwig/archive/v4.0.8.tar.gz
https://github.com/phueb/MissingAdjunct/archive/v1.5.0.tar.gz
