scipy
gensim
PyYAML
beautifulsoup4
aiohttp
torch
spacy
cytoolz
seaborn
pandas
sortedcontainers
scikit-learn
tensorflow
numpy
python-dotenv
matplotlib
bayesian-optimization==0.6
cached_property
pyprind